.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  background: url(./images/BG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**HomePage Style */
.title-home {
  font-family: "Flavors", cursive;
  font-size: 27px;
  letter-spacing: 4px;
  color: #515f7d;
}

/** Go to the top button */
.container {
  width: 300px;
  margin-bottom: 2em;
  text-align: center;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  font-size: 25px;
  background: #515f7d;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: rgb(116, 138, 187);
}

/* * Title and Search-bar
.title-and-search {
  display: flex;
  margin-left: 3.5em;
  align-content: stretch;
  justify-content: space-between;
} */

/** 'Filter by:' styling */
.filter {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
}
.Home-Page-features {
  background-color: rgb(40, 44, 52);
}
