body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

/** Movies card style */
.MoviesCard {
  display: inline-block;
  width: 18em;
  box-shadow: 0px 2px 3px grey;
  margin-bottom: 1.5em;
  background: #859cc575;
  border-radius: 4px;
  transition: 0.3s;
  padding-top: 1.8rem;
  margin-right: 2%;
  justify-content: space-around;
}
h3 {
  padding-left: 0.3em;
  padding-right: 0.3em;
  justify-content: space-around;
}

.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.SignupPage,
.LoginPage {
  background-color: #608dd5;
}

.LoginPage {
  background-color: #94a7c8;
}

.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar {
  padding: 5px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-img-wrapper {
  width: 50px;
}

.profile-img {
  width: 35px;
  border-radius: 35px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.3);
}

/** Comment section */
.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
